<div class="page-content">
    <div class="content-block">
		<div class="content-block-inner movie-inner-image">
			<div class="row">
				<div class="col-60">
					<div class="movie-image-content">
						<span class="preloader preloader-white preloader-movie"></span>
						<img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" width="100%" alt="{{movie.title}}" />
					</div>
				</div>
				<div class="col-40">
					<ul>
						<li>
							
							<i class="icon ion-android-star"><span class="movie-vote">{{movie.vote_average}}</span></i>
						</li>
					{{#if movie.imdb_id}}
						<li>
							<a href="#" onclick="window.open('http://www.imdb.com/title/{{movie.imdb_id}}/', '_system')">
								<i class="icon ion-android-earth"></i>
							</a>
						</li>
						<li>
							<a href="#" class="open-movie-share">
								<form><input type="hidden" id="movie-imdb" value="{{movie.imdb_id}}" /></form>
								<i class="icon ion-loop"></i>
							</a>
						</li>
					{{/if}}
					</ul>
				</div>
			</div>
		</div>
		<div class="content-block-inner movie-inner-content">
			<div class="buttons-row">
				<a href="#overview" class="tab-link active button">Overview</a>
				<a href="#info" class="tab-link button">Info</a>
		    </div>
		    
		    <div class="tabs-animated-wrap">
			    <div class="tabs">
					<div id="overview" class="tab active">
						<div class="content-block">
							<p>{{movie.overview}}</p>
				
							{{#each trailer}}
							<iframe width="100%" height="215" src="http://www.youtube.com/embed/{{source}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
							{{/each}}
						</div>
					</div>
	
					<div id="info" class="tab">
						<div class="content-block">
							{{#if movie.imdb_id}}
							<span>
							Genres: 
								<ul class="movie-list-genres">
								{{#each movie.genres}}
									<li>{{name}}</li>
								{{/each}}
								</ul>
							</span>
							{{/if}}
							<span>Releasedate: {{prettifyDate movie.release_date}}</span>
							
							{{#if credits}}
								{{#if credits.crew}}
							<span>
							Crew: 
								<ul class="movie-list-credits list-block media-list">
									{{#each credits.crew}}
									{{#if profile_path}}
									<li>	
										<div class="item-content">
											<div class="item-media"><img src="https://image.tmdb.org/t/p/w185{{profile_path}}" width="44" alt={{name}}></div>
											<div class="item-inner">
												<div class="item-title-row">
											    	<div class="item-title">{{name}}</div>
												</div>
												<div class="item-subtitle">{{job}}</div>
											</div>
										</div>
									</li>
									{{/if}}
									{{/each}}
								</ul>
							</span>
								{{/if}}
								
								{{#if credits.cast}}
							<span>
							Cast:
								<ul class="movie-list-credits list-block media-list">
									{{#each credits.cast}}
									{{#if profile_path}}
									<li>	
										<div class="item-content">
											<div class="item-media"><img src="https://image.tmdb.org/t/p/w185{{profile_path}}" width="44" alt={{name}}></div>
											<div class="item-inner">
												<div class="item-title-row">
											    	<div class="item-title">{{name}}</div>
												</div>
												<div class="item-subtitle">{{character}}</div>
											</div>
										</div>
									</li>
									{{/if}}
									{{/each}}
								</ul>
							</span>
								{{/if}}
							{{/if}}
							
						</div>
					</div>
				</div>
			</div>
			
		</div>		
	</div>
</div>